extends ../layout/_page

block append config
	- var page = pagelist['product'];

block append head
	link(rel="stylesheet" href=ROOT_PATH+"css/product/style.css")

block content
	// main
	main.main
		.wrapper
			.section.section--01
				.article__title #{page.name}
				//- +breadcrumbs([
				//- 	['ホーム', '/'],
				//- 	[page.title, page.local_url]
				//- ])
				.clmContent.clm2
					.clmContent__item
						.title
							a(href="https://www.nintendo.co.jp/fe/characters/index.html" target="_blank") 任天堂 ファイアーエンブレム
						p.text ファイアーエンブレム キャラクターページ設計
					.clmContent__item
						p
							img(src=IMG_PATH+"product/img-01.png" alt="")
	// /main

block append script
	script(src=ROOT_PATH+"js/product.js")