@import './../setting/mixin';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
// font-family: 'Quicksand', sans-serif;

@font-face {
	font-family: 'Noto Sans Japanese';
	font-weight: 300;
	font-style: normal;

	src: url('../../font/NotoSansCJKjp-Light.woff') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans Japanese';
	font-weight: 400;
	font-style: normal;

	src: url('../../font/NotoSansCJKjp-DemiLight.woff') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans Japanese';
	font-weight: 500;
	font-style: normal;

	src: url('../../font/NotoSansCJKjp-Regular.woff') format('opentype');
}

@font-face {
	font-family: 'Noto Sans Japanese';
	font-weight: 600;
	font-style: normal;

	src: url('../../font/NotoSansCJKjp-Medium.woff') format('opentype');
}

@font-face {
	font-family: 'Noto Sans Japanese';
	font-weight: 700;
	font-style: normal;

	src: url('../../font/NotoSansCJKjp-Bold.woff') format('opentype');
	font-display: swap;
}


body {
    font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,
        'ＭＳ Ｐゴシック', sans-serif;
    letter-spacing: 1px;
    background: $main_bg;
    color: $main_font;
}
a {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	text-decoration: none;

	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
    background-position: top left;
    color: $main_font;
}

a:hover {
	text-decoration: none;
}