// media

$_pc: 769px;
$_sp: 768px;

@mixin pc {
  @media screen and (min-width: $_pc) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $_sp) {
    @content;
  }
}


// color

$main_font: #EEEFF7;
$main_bg: #455977;
$white: #ffffff;